/* HEADER */

.header {
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.inner_header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logotype img {
    height: 170px;
    width: 300px;
}
.bender_earth{
    background-color: #ffffff;
    height: 85px;
    width: 85px;
}
.bender_air{
    background-color: #ffffff;
    height: 85px;
    width: 85px;

}
.bender_water{
    background-color: #ffffff;
    height: 85px;
    width: 85px;
}
.bender_fire{
    background-color: #ffffff;
    height: 85px;
    width: 85px;
}
.bender_earth:hover{
    background-color: lawngreen;
}
.bender_fire:hover{
    background-color: red;
}
.bender_air:hover{
    background-color: orange;
}
.bender_water:hover{
    background-color: blue;
}

/* LOGOTYPE */

.logotype {
    display: flex;
    align-items: center;
    height: 60px;
    color: white;
    cursor: pointer;
    overflow: hidden;
}

/* HEADER MENU */

.menu {
    display: flex;
    justify-content: space-around;
    width: 938px;
}

.inner_header a {
    color: var(--black);
    width: 300px;
}

.inner_header a:hover {
    text-decoration: underline;
}

/* MAIN BLOCK */

.main_block {
    padding: 100px 0;
    background-color: black;
    height: 900px;
    width: 100%;
}
.inner_main{
    position: relative;
    left: -150px;
}
.inner_main h1 , .colors-buttons {
    text-align: start;
}
.flag{
    position: relative;
    top: -651px;
    left: 1100px;
    width: 200px;
    height: 800px;
}
.flag img{
    width: 100%;
    height: 100%;
}
/* BUTTONS COLOR PICKER */

.colors-buttons {
    display: flex;
    margin-top: 50px;
    gap: 15px;
}

.btn-color {
    border-radius: 20px;
    border-color: white !important;
}

/* FOOTER */

.footer {
    background: #2c2d2f;
    width: 100%;
}

.inner_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.footer h2 {
    text-transform: uppercase;
    color: var(--black);
    font-weight: 600;
}

/* MODAL */

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
}

.modal_dialog {
    max-width: 500px;
    margin: 200px auto;
}

.modal_content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: black;
    border: 2px solid var(--black);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal_content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: red;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal_title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.modal_input, .btn_min {
    width: 100% !important;
    margin-top: 10px;
}



/*-------CONVERTER--------*/


.converter {
    padding: 200px 0;
    background-color: black;
}

.inner_converter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.inner_converter > div {
    display: flex;
    flex-direction: column;
}

.inner_converter input {
    color: white;
    border-radius: 20px;
}
.inner_converter input:hover {
    box-shadow:
    0 0 10px rgb(96, 243, 94),
    0 0 20px rgb(53, 216, 8),
    0 0 30px rgb(96, 243, 94);
}
label img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
}

/*location*/
@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');
.earth1{
    background-color: #000;
}
.earth1 h2{
    padding-bottom: 50px;
}
.earth{
    position: relative;
    width: 900px;
    height: 680px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #fafafc;
    left: 490px;
}
.earth .slide .item{
    width: 165px;
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translate(0 ,-50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}
.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}
.slide .item:nth-child(3){
    left: calc(50%);
}
.slide .item:nth-child(4){
    left: calc(50% + 210px);
}
.slide .item:nth-child(5){
    left: calc(50% + 430px);
}
.slide .item:nth-child( n + 6){
    left: calc(50% + 650px);
    opacity: 0;
}
.slide .ct{
    position: absolute;
    top: 50%;
    left: 6%;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0 ,-50%);
    display: none;
}
.slide .item:nth-child(2) .ct{
    display: block;
}
.ct .name2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;

}
.ct .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}
.ct button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s forwards;
}

@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0 ,100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}
.btnE{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}
.btnE button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000000;
    transition: 0.3s;
}
.btnE button:hover{
    background: #ababab;
    color: #fff;
}

/*  character */
.gallery {
    background: var(--white);
    padding-bottom: 200px;
}

.gallery h2 {
    position: relative;
    left: 2%;
}
.gallery-list {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
}
.card {
    width: 300px;
    height: 390px;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(53, 216, 8);
    font-size: 30px;
    font-weight: 900;
    position: relative;
    background-size: cover;
    background-position: center;
}

.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 0 10px 5px rgb(250, 250, 252);
}

.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

.card:hover .first-content {
    height: 0;
    opacity: 0;
}

.second-content {
    height: 0;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    transition: all 0.4s;
    padding: 20px;
    transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}
.card-photo{
    width: 300px;
    height: 390px;
}
.card-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.character-name {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.element, .age {
    font-size: 1rem;
    color: lightgrey;
}


