/* HEADER */

.header {
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.inner_header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logotype img {
    height: 170px;
    width: 300px;
}
.bender_earth{
    background-color: #ffffff;
    height: 85px;
    width: 85px;
}
.bender_air{
    background-color: #ffffff;
    height: 85px;
    width: 85px;

}
.bender_water{
    background-color: #ffffff;
    height: 85px;
    width: 85px;
}
.bender_fire{
    background-color: #ffffff;
    height: 85px;
    width: 85px;
}
.bender_earth:hover{
    background-color: lawngreen;
}
.bender_fire:hover{
    background-color: red;
}
.bender_air:hover{
    background-color: powderblue;
}
.bender_water:hover{
    background-color: blue;
}
.inner_header a {
    width: 300px;
    height: 100%;
    color: white;

}

/* LOGOTYPE */

.logotype {
    display: flex;
    align-items: center;
    height: 60px;
    color: white;
    cursor: pointer;
    overflow: hidden;
}

/* HEADER MENU */

.menu {
    display: flex;
    justify-content: space-around;
    width: 938px;
}



/* MAIN BLOCK */

.main_block {
    padding: 100px 0;
    background-color: black;
    height: 900px;
    width: 100%;
}
.inner_main{
    position: relative;
    left: -150px;
    top: 25px;
}
.inner_main h1 , .colors-buttons {
    text-align: start;
}
.flag{
    position: relative;
    top: -688px;
    left: 1100px;
    width: 200px;
    height: 800px;
}
.flag img{
    width: 100%;
    height: 100%;
}
/* BUTTONS COLOR PICKER */

.colors-buttons {
    display: flex;
    margin-top: 50px;
    gap: 15px;
}

.btn-color {
    border-radius: 20px;
    border-color: white !important;
}


/* FOOTER */

.footer {
    background: #2c2d2f;
    width: 100%;
}

.inner_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.footer h2 {
    text-transform: uppercase;
    color: var(--black);
    font-weight: 600;
}

/* MODAL */

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
}

.modal_dialog {
    max-width: 500px;
    margin: 200px auto;
}

.modal_content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: black;
    border: 2px solid var(--black);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal_content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: red;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal_title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.modal_input, .btn_min {
    width: 100% !important;
    margin-top: 10px;
}

/*-------STOP WATCH------ */
.time {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 80px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 5px solid var(--black);
    margin-top: 40px;
    align-items: center;
    background-color: black;
    position: relative;
    left: 400px;
    box-shadow:
            0 0 10px rgb(243, 24, 24),
            0 0 20px rgb(243, 13, 20),
            0 0 30px rgb(251, 7, 7);
}

.time_block {
    display: flex;
    justify-content: center;
    width: 100%;
}

.stopwatch {
    padding: 100px 0;
    background: black;
}

.time_buttons {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.time_buttons #start:hover{
    background-color: red;
}
.time_buttons #stop:hover{
    background-color: #5e0707;
}
.time_buttons #reset:hover{
    background-color: rgba(39, 6, 6, 0.78);
}

.videoFire {
    background-color: black;
}
.videoFire_video{
    width: 700px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.videoFire h2 {
    color: white;
    padding-bottom: 50px;
    text-shadow:
            0 0 10px rgb(243, 24, 24),
            0 0 20px rgb(243, 13, 20),
            0 0 30px rgb(251, 7, 7);
}
