/* HEADER */

.header {
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.inner_header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logotype img {
    height: 170px;
    width: 300px;
}
.bender_earth{
    background-color: #ffffff;
    height: 85px;
    width: 85px;
}
.bender_air{
    background-color: #ffffff;
    height: 85px;
    width: 85px;

}
.bender_water{
    background-color: #ffffff;
    height: 85px;
    width: 85px;
}
.bender_fire{
    background-color: #ffffff;
    height: 85px;
    width: 85px;
}
.bender_earth:hover{
    background-color: lawngreen;
}
.bender_fire:hover{
    background-color: red;
}
.bender_air:hover{
    background-color: powderblue;
}
.bender_water:hover{
    background-color: blue;
}
.inner_header a {
    width: 300px;
    height: 100%;
    color: white;

}

/* LOGOTYPE */

.logotype {
    display: flex;
    align-items: center;
    height: 60px;
    color: white;
    cursor: pointer;
    overflow: hidden;
}

/* HEADER MENU */

.menu {
    display: flex;
    justify-content: space-around;
    width: 938px;
}


/* MAIN BLOCK VIDEO */

.main_block .container{
    margin: 0;
    width: 100%;
}
.intro{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.intro__media{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000000 url("../../img_project/2start.jpg") no-repeat center center;
    background-size: cover;
}
.intro__media::before{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
}
.intro__media-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.intro__content{
    z-index: 1;
}

/*BUTTONS MAIN BLOCK*/
#buttons_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    gap: 73px;
    top: 100px;
    left: 526px;
}
.btn-main{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    border-color: snow;
    opacity: 0;
    transition: opacity 1s;

}
.btn-main:hover{
    transform: scale(1.5);
    text-shadow: 0 1px 10px white;
    box-shadow: 0 2px 10px white;
}
.btn-main a {
    font-size: 10px;
    color: white;
}


/* FOOTER */

.footer {
    background: #2c2d2f;
    width: 100%;
}

.inner_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.footer h2 {
    text-transform: uppercase;
    color: var(--black);
    font-weight: 600;
}

/* SLIDER BLOCK */
.slider_block {
    padding: 100px 0;
    background: black;
}
.slider_block h2{
    padding-bottom: 50px;
    filter: blur(1px);
}
.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 100px white;
}

.inner_slider {
    background-image: url(../../img_project/svitog21-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}

.slide {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}
.slide_card {
    position: relative;
    z-index: 1;
    color: white;
    margin: 0 auto;
    width: 900px;
    text-align: center;
    padding-top: 100px;
}
.slide_card h3 {
    color: saddlebrown;
    text-transform: uppercase;
    font-size: 22px;
}
.slide_card p {
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
    color: saddlebrown;
}
.slide_card a {
    color: saddlebrown;
    text-decoration: underline;
}
.slide.active_slide {
    display: block;
}

/* MODAL */

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
}

.modal_dialog {
    max-width: 500px;
    margin: 200px auto;
}

.modal_content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: black;
    border: 2px solid var(--black);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}

.modal_content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: red;
    opacity: 0.5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal_title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
}

.modal_input, .btn_min {
    width: 100% !important;
    margin-top: 10px;
}


/*-------BOTTLE-------*/

.botlle {
    background: black;
    padding: 100px 0;
}

.bottle_inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bowl {
    position: relative;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: 8px solid transparent;
    animation: animate 5s linear infinite;
    transform-origin: bottom center;
    animation-play-state: run;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(22deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-22deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.bowl::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 30px;
    border: 15px solid #444;
    border-radius: 50%;
    box-shadow: 0 10px #222;

}

.bowl::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 60px;
    background: rgba(255, 255, 255, 0.05);
    transform-origin: center;
    animation: animatebowlshadow 5s linear infinite;
    border-radius: 50%;
    animation-play-state: running;

}


@keyframes animatebowlshadow {
    0% {
        left: 50%;
        width: 150px;
        height: 60px;
    }
    25% {
        left: 55%;
        width: 140px;
        height: 65px;
    }
    50% {
        left: 50%;
        width: 150px;
        height: 60px;
    }
    75% {
        left: 45%;
        width: 140px;
        height: 65px;
    }
    100% {


    }
}


.liquid {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: #1ae907;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #1ae907);
    transform-origin: top center;
    animation: animateliquid 5s linear infinite;
    animation-play-state: running;
}

@keyframes animateliquid {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-22deg);
    }
    30% {
        transform: rotate(-23deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(22deg);
    }
    80% {
        transform: rotate(23deg);
    }
    100% {
        transform: rotate(0deg);
    }


}

.liquid::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: #15be05;
    border-radius: 50%;
    filter: drop-shadow(0 0 80px #15be05);
}

.shadow {
    position: absolute;
    top: calc(50% + 150px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    animation: animateshadow 5s linear infinite;
    animation-play-state: running;

}

@keyframes animateshadow {
    0% {
        left: 50%;
        width: 260px;
        height: 40px;
        top: calc(50% + 150px);

    }

    25% {
        left: 55%;
        width: 265px;
        height: 30px;
        top: calc(50% + 130px);

    }
    50% {
        left: 50%;
        width: 260px;
        height: 40px;
        top: calc(50% + 150px);

    }
    75% {
        left: 45%;
        width: 265px;
        height: 30px;
        top: calc(50% + 130px);

    }
    100% {
    }
}


/*BLOCK VIDEO*/

.block_video{
    background: #000000;
}
.block_video .container{
    margin: 0  auto;
    padding: 50px 40px;
    display: flex;
    gap: 20px;
}
.block_video .container h3 {
    font-weight: 500;
    font-size: 29px;
}






